@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import url("./TrueType\ Font\ -\ Poppins/");

@media only screen and (min-width: 900px) and (min-height: 500px) {
    body{
        overflow: scroll;
    }
    div#headln1{
        position: absolute;
        left: 34.7222vw;
        top: 10vh;
        width: 30.5556vw;
        height: 9.4565vh;
        margin: 0;
        
        font-family: "Poppins Thin", sans-serif;
        font-size: 2.08333vw;
        font-weight: 600;
@import url("./TrueType Font - Poppins/");

@media only screen and (min-width: 250px) and (max-width: 899px) {
    body{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: hsl(0, 0%, 98%);
        overflow: scroll;
    }
    div#headln1{
        padding-top: 12vh;
        width: 90vw;
        margin: auto;
        
        font-family: "Poppins Thin", sans-serif;
        font-size: 6vw;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-align: center;
        
        color: hsl(234, 12%, 34%);
    }
    div#headln1 div#headln2{
        font-family: "Poppins SemiBold", sans-serif;
        font-weight: 600;
    }
    div#headln3{
        padding-top: 2vh;
        width: 85vw;
        max-width: 91%;
        margin: auto;
        
        font-family: "Poppins Light", sans-serif;
        font-size: 3.75vw;
        font-weight: 500;
        letter-spacing: 0.025em;
        text-align: center;

        color: hsl(229, 6%, 66%);
    }
    div.box1{
        transform: translateY(30%);
        width: 96vw;
        max-width: 275px;
        height: 28.9vh;
        max-height: 222px;
        margin: auto;

        border-top: 0.5vh solid hsl(180, 62%, 55%);
        border-radius: 1.5vw;
        box-shadow: 0vw 3vw 2vw 2vw hsl(220, 10%, 94%);
    }
    div.box2{
        transform: translateY(50%);
        width: 96vw;
        max-width: 275px;
        height: 28.9vh;
        max-height: 222px;
        margin: auto;

        border-top: 0.5vh solid hsl(0, 78%, 62%);
        border-radius: 1.5vw;
        box-shadow: 0vw 3vw 2vw 2vw hsl(220, 10%, 94%);
    }
    div.box3{
        transform: translateY(70%);
        width: 96vw;
        max-width: 275px;
        height: 28.9vh;
        max-height: 222px;
        margin: auto;

        border-top: 0.5vh solid hsl(34, 97%, 64%);
        border-radius: 1.5vw;
        box-shadow: 0vw 3vw 2vw 2vw hsl(220, 10%, 94%);
    }
    div.box4{
        transform: translateY(90%);
        width: 96vw;
        max-width: 275px;
        height: 28.9vh;
        max-height: 222px;
        margin: auto;

        border-top: 0.5vh solid hsl(212, 86%, 64%);
        border-radius: 1.5vw;
        box-shadow: 0vw 3vw 2vw 2vw hsl(220, 10%, 94%);
    }
    div#ln1{
        position: relative;
        left: 8.95vw;
        top: 4.3vh;

        font-family: "Poppins SemiBold", sans-serif;
        font-size: 6.15vw;
        font-weight: 400;
        letter-spacing: normal;
        text-align: left;
        color: hsl(234, 12%, 34%);
    }
    div#ln2{
        position: relative;
        left: 8.95vw;
        top: 4.3vh;
        max-width: 77%;

        font-family: "Poppins Regular", sans-serif;
        font-size: 2.75vw;
        font-weight: 200;
        letter-spacing: 0.03em;
        line-height: 3vh;
        text-align: left;
        color: hsl(229, 6%, 66%);
    }
    div img{
        position: fixed;
        right: 7.5vw;
        top: 17.97vh;
        max-height: 25.7%;
        height: 25.7%;
    }
    footer{
        position: absolute;
        width: 100vw;
        top: 180vh;
        
        font-family: "Poppins ExtraLight", sans-serif;
        font-weight: 600;
        font-size: 2.5vw;
        text-align: center;

        color: hsl(229, 6%, 66%);
    }
    footer a{
        color: lightcoral;
        text-decoration: none;
    }
}

@media only screen and (min-width: 900px) and (min-height: 500px) {
    body{
        overflow: scroll;
    }
    div#headln1{
        position: absolute;
        left: 34.7222vw;
        top: 10vh;
        width: 30.5556vw;
        height: 9.4565vh;
        margin: 0;
        
        font-family: "Poppins Thin", sans-serif;
        font-size: 2.08333vw;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-align: center;
        
        color: hsl(234, 12%, 34%);
    }
    div#headln1 div#headln2{
        font-family: "Poppins SemiBold", sans-serif;
        font-weight: 600;
    }
    div#headln3{
        position: absolute;
        left: 32.4vw;
        top: 22.23vh;
        width: 35.15vw;
        height: 4.3384vh;

        font-family: "Poppins Regular", sans-serif;
        font-size: 1.025vw;
        font-weight: 200;
        letter-spacing: 0.02em;
        text-align: center;

        color: hsl(229, 6%, 66%);
    }
    div.box1{
        position: absolute;
        left: 11.39vw;
        top: 48.92vh;
        width: 24.375vw;
        height: 30vh;

        border-width: 0.6vh;
        border-top: 0.6vh solid hsl(180, 62%, 55%);
        border-radius: 0.325vw;
        box-shadow: 0vw 0vw 2vw 0vw hsl(220, 10%, 94%);
    }
    div.box2{
        position: absolute;
        left: 37.8472vw;
        top: 33.8395vh;
        width: 24.375vw;
        height: 30vh;

        border-width: 0.6vh;
        border-top: 0.6vh solid hsl(0, 78%, 62%);
        border-radius: 0.325vw;
        box-shadow: 0vw 0vw 2vw 0vw hsl(220, 10%, 94%);
    }
    div.box3{
        position: absolute;
        left: 37.8472vw;
        top: 67vh;
        width: 24.375vw;
        height: 30vh;

        border-width: 0.6vh;
        border-top: 0.6vh solid hsl(34, 97%, 64%);
        border-radius: 0.325vw;
        box-shadow: 0vw 0vw 2vw 0vw hsl(220, 10%, 94%);
    }
    div.box4{
        position: absolute;
        left: 64.1667vw;
        top: 48.92vh;
        width: 24.375vw;
        height: 30vh;

        border-width: 0.6vh;
        border-top: 0.6vh solid hsl(212, 86%, 64%);
        border-radius: 0.325vw;
        box-shadow: 0vw 0vw 2vw 0vw hsl(220, 10%, 94%);
    }
    div#ln1{
        position: relative;
        left: 2.2222vw;
        top: 4vh;

        font-family: "Poppins SemiBold", sans-serif;
        font-size: 1.3889vw;
        font-weight: 400;
        letter-spacing: normal;
        text-align: left;
        color: hsl(234, 12%, 34%);
    }
    div#ln2{
        position: relative;
        left: 2.2222vw;
        top: 5.75vh;
        max-width: 15.76vw;

        font-family: "Poppins Regular", sans-serif;
        font-size: 0.75vw;
        font-weight: 200;
        letter-spacing: 0.025em;
        line-height: 1.25rem;
        text-align: left;
        color: hsl(229, 6%, 66%);
    }
    div img{
        position: absolute;
        left: 17.569vw;
        top: 16.5944vh;
        max-width: 18.5%;
        width: 18.5%;
        max-height: 25.7%;
        height: 25.7%;
    }
    footer{
        position: absolute;
        width: 100vw;
        top: 100vh;
        
        font-family: "Poppins ExtraLight", sans-serif;
        font-weight: 600;
        font-size: 0.7639vw;
        text-align: center;
    }
    footer a{
        color: lightcoral;
        text-decoration: none;
    }
}